@model IEnumerable<TeaCar.Models.CustomerMenu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<h1>Menu</h1>
<div class="container-fluid" style="margin-top: 20px">

    <div class="row">

        <div class="col-sm-5">
            <h2>Drinks</h2>
        </div>

        <div class="col-sm-5">
            <h2>Snacks</h2>
        </div>

        <div class="col-sm-2">
            <h2>My order</h2>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-5">
            <table class="table">
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            if (item.catId == 1)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.itemName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.itemInfo)
                                    </td>
                                    <td>
                                        <form asp-controller="CustomerMenus" asp-action="AddItemToOrder" method="post">
                                            <div class="form-group-row">
                                                <input type="hidden" name="itemId" value="@item.itemId"/>
                                            </div>
                                            <button type="submit" class="btn btn-success" name="submitNewItem">Add to order</button>
                                        </form>                                       
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="col-sm-5">
            <table class="table">
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            if (item.catId != 1)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.itemName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.itemInfo)
                                    </td>
                                    <td>
                                        <form asp-controller="customerMenus" asp-action="AddItemToOrder" method="post">
                                            <div class="form-group-row">
                                                <input type="hidden" name="itemId" value="@item.itemId" />
                                            </div>
                                            <button type="submit" class="btn btn-success" name="submitNewItem">Add to order</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="col-sm-2">

            <div class="form-group-row">
                <a type="submit" class="btn btn-primary" name="completeOrder" asp-controller="IncompleteOrders" asp-action="Index">
                    My order
                </a>
            </div>
            @{
                if ((ViewBag.NewItemOrder != null) && ((int)ViewBag.NewItemOrder != 0))
                {
                    <div class="card bg-primary mb-3">
                        <div class="card-header  bg-primary text-white">
                            The item was added to your order.
                        </div>
                    </div>
                }
                if ((ViewBag.submittedOrder != null) && ((int)ViewBag.sumbittedOrder != 0))
                {
                    <div class="card bg-primary mb-3">
                        <div class="card-header  bg-primary text-white">
                            Thank you for your order. A member of staff will deliver it to your table.
                        </div>
                    </div>
                }
            }

        </div>

    </div>


</div>

