@model IEnumerable<TeaRoomCw.Models.Staff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.staffName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.staffName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.staffId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.staffId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.staffId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
