@model IEnumerable<TeaCar.Models.CurrentOrders>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/StaffLayout.cshtml";
}

<h1>Current orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Order number
            </th>
            <th>
                Order time
            </th>
            <th>
                Table number
            </th>
            <th>
                Item ordered
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.orderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.orderTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tableNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.itemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    <form asp-controller="CurrentOrders" asp-action="CompletedOrder" method="post">
                        <div class="form-group-row">
                            <input type="hidden" name="orderId" value="@item.orderId" />
                        </div>

                        <button type="submit" class="btn btn-success">Completed</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>