@model IEnumerable<TeaRoomCw.Models.Item>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.itemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemPicFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.onSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.catId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.itemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemPicFile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.onSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.catId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.itemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.itemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.itemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
